# =================================================
# APPLICATION
# =================================================

APP_NAME=Migration RPA System

ENVIRONMENT=development

DEBUG=True



# =================================================
# LEGACY DATABASE
# =================================================

LEGACY_DB_HOST=localhost

LEGACY_DB_PORT=5432

LEGACY_DB_NAME=ecociente_legado

LEGACY_DB_USER=postgres

LEGACY_DB_PASSWORD=postgres



LEGACY_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecociente_legado



# =================================================
# TARGET DATABASE
# =================================================

TARGET_DB_HOST=localhost

TARGET_DB_PORT=5433

TARGET_DB_NAME=ecociente_normalizado

TARGET_DB_USER=postgres

TARGET_DB_PASSWORD=postgres



TARGET_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/ecociente_normalizado



# =================================================
# ETL SETTINGS
# =================================================

BATCH_SIZE=500

MAX_RETRIES=3

TIMEOUT_SECONDS=60



# FULL
# INCREMENTAL
# RETRY

MIGRATION_MODE=FULL



# =================================================
# LOGGING
# =================================================

LOG_LEVEL=INFO



# =================================================
# SECURITY
# =================================================

SECRET_KEY=change_this_secret